.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: transparent;
  color: map-get($colors, c6);
  @include respond-above(xs) {
    font-size: 14px;
  }

  &.secondary {
    padding: 10px 14px;
    background: map-get($colors, c3);
    @include respond-above(xs) {
      padding: 12px 16px;
    }
  }
}
