.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .content {
    padding-top: 24px;
    padding-bottom: 46px;
    @include respond-above(sm) {
      padding-top: 36px;
      padding-bottom: 62px;
    }
  }
}
